<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="/styles/login/login.css">
</head>
<body>
    <div class="login-wrap">
        <div class="login-box">
            <form action="">
                <input type="text" placeholder="您的用户名" class="login-input">
                <div class="login-tip"></div>
                <input type="password" placeholder="您的密码" class="login-input">
                <div class="login-tip"></div>
                <div class="login-btn">登录</div>
            </form>
        </div>
    </div>
    <div class="login-bg">

    </div>
    <script src="/js/login/login.js"></script>
</body>
</html>