<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="/styles/regist/regist.css">
</head>
<body>
    <div class="regist-wrap">
        <div class="regist-box">
            <form action="">
                <div>
                    <span class="label">用户名：</span>
                    <input type="text" class="regist-input">
                    <div class="regist-tip"></div>
                </div>
                <div>
                    <span class="label">设置密码：</span>
                    <input type="password" class="regist-input">
                    <div class="regist-tip"></div>
                </div>
                <div>
                    <span class="label">确认密码：</span>
                    <input type="password"  class="regist-input">
                    <div class="regist-tip"></div>
                </div>
                <div class="regist-btn">立即注册</div>
            </form>
        </div>
    </div>
    <div class="regist-bg">

    </div>
    <script src="/js/regist/regist.js"></script>
</body>
</html>